.App {
  text-align: center;
  padding-top: 2rem;
}

.modal-overlay-webflow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper-webflow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-webflow {
  z-index: 100;

  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header-webflow {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button-webflow {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}


.ui.menu .active.item {
  background-color: #f2545b !important;
  color: #fff !important;
}

.dashboard-sidebar-navigation-item {
  padding: 5px 10px;
  margin-bottom: 0px !important;
  border-color: transparent;
}

a.item {
  padding: 0px !important;
  border: none !important;
  box-shadow: none !important;
  border-color: transparent;
}

.ui.vertical.menu {
  border: none !important;
  box-shadow: none !important;
  border-radius: none !important;
  border-color: transparent;
}

.active {
  border-radius: 1px !important;
  border-color: transparent;
}

.carousel-item {
  height: 250px !important;
}